html {
    font-family: Rubik, serif;
}
body {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}
header h1 {
    background-color: black;
    color: white;
    margin-top: 0;
    text-align: center;
    padding-top: 30pt;
}
